.header {
  background-color: #009879;
  color: #fff;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

span {
  font-weight: 400;
  cursor: pointer;
}
